.Van{
    position: relative;
    padding-top: 150px;
    
}
body{
    background-color: rgb(246, 249, 250);
}
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 236px;
    text-align: start;
    
}
.Van .Group3{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 499px;
    margin-left: 230px;
}
.header h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #262338;
}
.header p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #4E4B66;
    margin-right: 200px;
}
.text-menu{
    padding-top: 100px;
}
.text-menu p{
    position: relative;
    font-weight: 500;
    
    font-size: 20px;
    color: #6E7191;
    line-height: 28px;
    letter-spacing: 0%;
    margin-bottom: 50px;

}
.text-menu img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 11%;
    margin-right: 15%;
}

.Experts{
    position: relative;
    width: 1240px;
    height: 1274px;
    margin: 50px auto;
    overflow: hidden;
    color: #fff;
    z-index: 0;
    border-radius: 24px;
}
.Experts::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/about-image.jpg');
    background-size: cover;
    background-position: center;
    opacity: 10%;
    z-index: -1;
}

.content-sub{
    position: relative;
    z-index: 1;
    padding: 20px;
}
.content-sub h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #262338;
    text-align: center;
    margin-top: 20px;
}
.content-sub p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #4E4B66;
    text-align: center;
}

.VIP-IMAGE{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
}
.sub-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.VIP-IMAGE img{
    width: 528px;
    height: 640px;
    border-radius: 24px;
}
.sub-images{
    margin-top: 50px;
    margin-bottom: 50px;
}
.sub-images img{
    width: 528px;
    height: 308px;
    border-radius: 24px;
}