.features {
  display: flex;
  flex-direction: column;
  opacity: 1;
  box-sizing: border-box;
  background-color: #ffffff;
}

.exploreCardTitle {
  font-family: 'Gilroy', Poppins, sans-serif; 
  font-weight: 700;        
  font-size: 24px;         
  line-height: 32px;       
  color: #262338;
; 
  margin: 0;               
}


.exploreCardDescription {
  font-family: 'Gilroy', Poppins, sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
  text-align: left;
  color:  #6E7191;
;
  word-break: break-word;
}
.marginLeftCard {
  margin-left: 20px; /* adjust as needed */
}

