
.btn-2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10.1875rem;
    height: 3.5rem;
    gap: 0.75rem;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    
   
    border: none;
}
.btn-2.primary {
    background-color: var(--color-background);
    color: var(--color-secondary-dark-2);
}
.btn-2.secondary {
    border: 2px solid var(--color-background);
    background-color: transparent;
    color: var(--color-background);
}
.btn-2.outline {
    width: 12.375rem;
    border: 2px solid  var( --color-background);
    color: var( --color-background);
    background-color: transparent;
    
}
.btn-2.BUTTON{
    
    background-color: transparent;
    color: var(--color-primary-3);
    transition: 0.3s;
    border: 0.125rem solid var(--color-primary-3);
}
.btn-2.BUTTON:hover{
    color: red;
}
