
.main-containers-1 {
    background-image: url('../../../assets/images//unsplash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    text-align: center;
    position: relative;
}

.text img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8%;
    margin-right: 10%;
}

.text h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: var(--color-primary);
}

.text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-secondary-dark);
    margin-top: 20px;
}

/* ===============================
   BUTTON SECTION
================================ */
.book-scesion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}


.Group,
.vector {
    width: 22px;
    height: 18px;
    margin-left: 15px;
}
.text .Group2{
  margin-right: 220px;
}

.Group3 {
    margin-left: 12.25rem;
    margin-top: 3.125rem;
}


.smooth-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    padding-right: 14.25rem;
    position: relative;
    float: right;
}

.smooth-card .card {
    position: absolute;
    left: 16px;
    top: 12px;
    background: var(--color-background-2);
    padding: 12px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.smooth-card .forward {
    position: absolute;
    right: 245px;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid var(--color-background);
    padding: 12px;
}

.smooth-card button {
    width: 329px;
    height: 64px;
    border-radius: 100px;
    padding: 9px 16px 12px 70px;
    text-align: start;
    color: var(--color-background-2);
    background: linear-gradient(95.08deg, #81ED7E 2.49%, #006CD0 97.19%);
}

.smooth-card button strong {
    font-size: 20px;
}

/* ===============================
   MENU SECTION
================================ */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 500px;
    
}

.menu .image-two,
.menu .image-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .image-two {
    gap: 20px;
}

.menu .image-three {
    gap: 8px;
    position: relative;
}

/* ===============================
   MESSAGE BUTTON
================================ */
.message {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -10px;
    margin-top: 70px;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    border: none;
    background: var(--color-primary-3);
}

/* ===============================
   CARDS
================================ */
.frame {
    width: 25%;
    height: 600px;
    border-radius: 24px;
}

.active,
.Rectanglesix {
    width: 100%;
}

.rectangle {
    width: 100%;
    height: 380px;
    border-radius: 24px;
}
