.booked-root{
    width: 100%;
    
    padding-top: 85px ;
  
   
   

}


.booked-card{
    
   
    background-color: #FFFFFF;
    width: 100%;
    
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 24px 24px 32px 24px;
}
.booked-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.booked-header .booked-close{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px dashed #262338;
    padding: 12px;
    margin-right: 20px;
}
.child-booked-header h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #4E4B66;
    margin-bottom: 30px;
}
.child-booked-header p{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6E7191;
}

.booked-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    height: 67px;
    border-radius: 24px;
    padding: 10px 16px 10px 16px;
    box-shadow: 0px 5px 10px -5px rgb(0,0, 0, 0.2);
    border: 1px solid #f0f0f0;
    margin-top: 30px;
    border-top: none;
}
.hr-booked{
    width: 100%;
    margin-bottom: 40px;
    color: #262338;
}



.price-col{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.c-price{
    text-align: center;
}
.c-price .cost-price{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #A0A3BD;
    padding-bottom: 5px;
}
.c-price .cost-time{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #6E7191;
}
.category .c-category{
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #6E7191;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}
.category .c-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4E4B66;
    font-family: 'Poppins', sans-serif;
}

.booked-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 36px;
    width: 100%px;
    height: 40px;
}
.add-more{
    width: 188px;
    height: 40px;
    border-radius: 24px;
    border: 2px solid #6E7191;
    padding: 9px 16px 9px 40px ;
    color: #6E7191;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.25px;
    
    font-family: 'Poppins', sans-serif;
}
.clear-all{
    width: 57;
    height: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 0.25px;
    color: #FD6150;
    border: none;
    background-color: transparent;
}

.more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.checkout-event{
    width: 200px;
    height: 40px;
    border-radius: 24px;
    padding: 9px 40px 9px 16px;
    background-color: #FF9943;
    color: #FCFCFC;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.parent-icon{
    position: relative;
}
#parent-icon{
    position: relative;
}
#parent-icon img{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 16px;
    margin-top: 14px;


}
.parent-icon img{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
}
.trash-btn{
    width: 40px;
    height: 40px;
    border-radius: 32px;
    padding: 12px;
    border: none;
    background-color: #FFF2F1;
}