*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    width: 100%;
    background-color: #ffff;
    border-bottom: 0.03125rem solid #D9DBE9;
    position: fixed;
    z-index: 3;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    /* margin-right: 31.25rem; */
    list-style: none;
    color: var( --color-primary-4);
}
.nav-links a {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 3px;
    transition: color 0.3s ease;
}
.nav-links a::before,
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 0;
    background: repeating-linear-gradient(to right, var(--color-background), var(--color-background), transparent 6px, transparent 12px);
    
   
}
.nav-links a:hover {
    color: var( --color-primary-3);
}
.nav-links a:hover::after {
    width: 100%;
}




/*@keyframes dashMove {
    from {background-position: 0  0;}
    to {
        background-position: 20px 0;
    }
} */
.logo{
    width: 5rem;
    height: 5rem;
} 
.right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.nav-col{
    display: none;
}


.notice-bar{
    position: relative;
    background-color: #FFF4EB;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
}
.dot{
    position: absolute;
    min-width: 0.625rem;
    min-height: 0.625rem;
    background-color: red;
    border-radius: 0.3125rem;
    top: 0.8125rem;
    right: 0.9375rem;
}
@media (max-width:75rem) {
    .Navbar{
        padding-left: 2%;
        padding-right: 50%;
        background-color: transparent;
    }
    
    .nav-links{
        margin-right: 5%;
        margin-left: 0%;
    }
}
@media (max-width:62.5rem) {
    .logo{
        width: 2.5rem;
        height: 2.5rem;
    }
    .nav-col{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        margin-top: 1.25rem;
    }
    .nav-links li{
        font-size: 3.75rem;
        font-weight: 900;
        color: white;
    }
    .mobile-nav{
        display: none;
    }
    .nav-links{
        gap: 1.25rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: blue;
        z-index: -1;
        width: 12.5rem;
        margin-right: 0;
        padding: 4.375rem 1.25rem 0rem 2.5rem;
        transition: 0.5;
        display: block;
    }
    .Navbar ul li{
        margin: 0.625rem 0rem;
        font-size: 0.625rem;
    }
    .btn{
        border-radius: 1.5rem;
        padding-top: 0.5625rem;
        padding-right: 1rem;
        padding-bottom: 0.5625rem;
        padding-left: 1rem;
        margin-left: 2.5rem;
    }
}
@media (max-width:48rem) and (min-width:52.5rem){
    .Navbar{
        display: block;
        max-width: 30%;
    }
    .Navbar ul {
        margin: 0.0625rem 0rem;
        font-size: 0.0625rem;
    }
    .nav-links{
        gap: 1.25rem;
        position: fixed;
        top: 0;
        right: 55rem;
        bottom: 0rem;
        background-color: blue;
        z-index: 3;
        width: 12.5rem;
        padding: 4.375rem 1.25rem 0rem 2.5rem;
        transition: 0.5;
        display: block;
    }
    .nav-links li{
        font-size: 3.75rem;
        font-weight: 900;
        color: white;
    }
    .mobile-nav{
        display: none;
    }
    .nav-col{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        margin-top: 1.25rem;
    }
    .btn{
        border-radius: 1.5rem;
        padding-top: 0.5625rem;
        padding-right: 1rem;
        padding-bottom: 0.5625rem;
        padding-left: 1rem;
        margin-left: 2.5rem;
    }
}
