.Location{
    background-image: url('../../../assets/images/Map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 10rem;
    min-height: 100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10rem;
    justify-content: space-between;
}
.service-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 400px;
}
.service-area img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    margin-bottom: 10px;
    border: 1px dashed #FCFCFC;
}
.service-area h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #FCFCFC;
}
.service-area p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #FCFCFC;
}
.service-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    margin-bottom: 150px;
}
.Bounderies .Areas{
    width: 426px;
    height: 96px;
    border-radius: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: #D9DBE9;
    line-height: 24px;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: 1px dashed #FCFCFC;
}

.service-location img{
    
    left: 10px;
    top: 20px;
    width: 56px;
    height: 56px;
    
    border-radius: 100px;
    padding: 16px;
    border: 1px dashed #FCFCFC;
}
.Bounderies{
    position: relative;
}
.Bounderies .img{
    position: absolute;
    margin-left: 10px;
    border: none;
    background-color: #ffff;
    
    
}
.Bounderies .image{
    position: absolute;
    margin-left: 10px;
    border: 1px dashed #FCFCFC;
    
    

}
.Areas strong{
    color: #FCFCFC;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
}
.A-button, .Areas{
    width: 426px;
    height: 96px;
    border-radius: 24px;
    border: 1px solid #FCFCFC;
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span, .other{
    text-align: left;
    margin-left: 30px;
    
}

.span h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #4E4B66;
}
.span h2{
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0%;
    line-height: 24px;
    color: #6E7191;

}
.other h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color:#FCFCFC;
}
.other h2{
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0%;
    line-height: 24px;
    color: #D9DBE9;
}
@media(max-width: 480px) {
    .Location{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        align-items: center;
       
    }
    .service-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}