

.Fqs-container{
    position: relative;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Question{
    position: relative;
    width: 1240px;
    height: 1474px;
    margin: 50px auto;
    overflow: hidden;
    color: #fff;
    z-index: 0;
    border-radius: 80px;
    text-align: center;
    padding: 50px;


    
}
.Question::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/about-image.jpg');
    background-size: cover;
    background-position: center;
    opacity: 10%;
    
    
    z-index: -1;    
}
.Question h1{
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    font-size: 40px;
    color: #262338;
    padding-bottom: 115px;
    padding-top: 20px;
}
.pagination-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.pagination-controls button {
  padding: 12px;
  font-weight: bold;
  background-color: #FCFCFC;
  color: white;
  border: none;
  border-radius: 100px;
  
  cursor: pointer;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-indicator {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px;
  color: #333;
  background-color: #FCFCFC;
  border-radius: 100px;
}
.Fqs-container ul li{
   width: 1160px;
   height: 104px;
   
   opacity: 1;
   gap: 40px;
   
   padding: 1.5rem;
   padding-left: 150px;
   border-bottom-right-radius: 24px;
   border-bottom-left-radius: 24px;
   border-top-width: 0.5px;
   background-color:#FFFFFF;
   margin-bottom: 8px;
   color: #262338;
   text-align: left;
   list-style: none;
}


 .alert{
    width: 56px;
   height: 56px;

   border:  1px dashed #6E7191;
   gap: 8px;
   border-radius: 100px;
   padding: 16px;
   position: absolute;

   left: 0;
   margin-left: 100px;
   
}

.plus-icon{
   width: 56px;
   height: 56px;

   opacity: 1;
   gap: 8px;
   border-radius: 100px;
   padding: 16px;
   position: absolute;
   
   right: 0;
   margin-bottom: 20px;
   margin-right: 100px;
   background-color: #FCFCFC;

}