
.prices-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 150px;
}


.love{
    margin-top: 100px;
    background-color: #3BA378;
    width: 100%;
    height: 1240px;
    position: relative;
    
}
.love .Circle{
    width: 576.0115356445312px;
    height: 576px;
    position: absolute;
    opacity: 0.1;
    z-index: 0;
    top: 0;
    right: 0;
    
    margin-right:10px ;
}
.Price-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1260px;
    
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 20px;
    position: relative;
}
.Price-head{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
.Price-head img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    background-color: #FCFCFC;

}
.price-container{
    margin-bottom: 40px;
    
}
.list-container{
    position: relative;
}
.list-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 787px;
    height: 56px;
    padding-top: 15px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    background-color: #F1F5F5;
    list-style: none;
    border-radius: 24px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
   
}
.content-items{
    position: relative;
    width: 787px;
    height: 56px;
    width: 787px;
    height: 56px;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    color: #A0A3BD;
  background-color: transparent;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0%;
  

}
.content-items:hover {
  background-color: #FCFCFC;
}
.content-items.active {
  background-color: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.notification-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  
  color: red;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.Sub-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 1260px;
    height: 860px;
    border-radius: 24px;
    background-color: #F1F5F5;
    padding-bottom: 40px;
    z-index: 2;
    position: absolute;
    margin-top: 80px;
    
    
}
.Sub-amount .main-tittle{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #4E4B66;
    align-self: flex-start;
    margin-left: 130px;
    margin-bottom: 10px;
}
.price-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 180px;
}
.price-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
   
}
.price-tags span{
    width: 135px;
    height: 180px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-left: 16px;
    padding-top: 40px;
    padding-right: 16px;
    padding-bottom: 30px;
    color: #F1F5F5;
    background: linear-gradient(95.08deg, #3F74D0 2.49%, #69C8DE 80.72%, #A6E1CF 97.19%);

}
.Tittle h1{
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4E4B66;
    margin-bottom: 10px;
}
.Tittle p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4E4B66;
}
.tag-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    gap: 20px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.tag-btn .Plus{
    position: absolute;
    top: 0;
    right: 0;
   
    margin-top: 82px;
    margin-right: 140px;
}
#Plus{
   position: absolute;
    top: 0;
    right: 0;
    
    margin-top: 82px;
    margin-right: 140px; 
}
.tag-btn button{
    width: 146px;
    height: 40px;
    border-radius: 24px;
    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 16px;
    background-color: #FF9943;
    border: none;
    text-align: end;
    color: #FCFCFC;
}
.foot-button{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 24px;
    right: 0;
    margin-top: 800px;
    margin-right: 135px;
}
.my-foot-button{
    position: relative;
}
.my-foot-button button{
    width: 254px;
    height: 56px;
    border-radius: 32px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    opacity: 50%;
    background-color: #FF9943;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #FCFCFC;
    text-align: start;
}
#my-foot-button button{
    width: 209px;
    height: 56px;
    border-radius: 32px;
    border: 2px solid #FD6150;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    opacity: 50%;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #FD6150;
    text-align: start;
    
    
}
.my-foot-button img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}
#my-foot-button img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
}