.checkout-root{
    padding-top: 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.summary .span2{
    font-weight: 600;
    font-size: 18px;
    font-style: bold;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4E4B66;
    
}
.summary .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #A0A3BD;
    text-align: center;
}
.summary .small{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #A0A3BD;
    margin-bottom: 10px;
}
.checkout-root .back-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border:  1px dashed #262338;
    border-radius: 100px;
    padding: 16px;
    margin-left: 280px;
    margin-top: 150px;
}
.checkout{
    text-align: center;
}
.checkout h1{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    cursor: #4E4B66;
}
.checkout p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #6E7191;
}
.book-infor{
    margin-top: 100px;
    width: 1236px;
    height: 100%;
    border-radius: 24px;
    padding: 40px;
    background-color:  #FFFFFF;;
    

}
.child-infor h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 100px;
    letter-spacing: 0px;
    color: #4E4B66;
}
.child-infor p{
    font-weight: 500px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6E7191;
    
}
.book-infor .my-hr{
    width: 1156px;
    height: 1px;
    border: 1px solid #4E4B66;
    margin-top: 20px;

}
h3{
   font-weight: 700;
   font-style: Bold;
   font-size: 20px;

   line-height: 28px;
   letter-spacing: 0px;
   vertical-align: middle;
   color: #6E7191;

}
.my-line{
    width: 1112px;
    height: 1px;
    border: 1px solid #4E4B66;
    margin-top: 20px;
}
.list-summary{
    margin-top: 20px;
    width: 100%;
    max-width: 1156px;
    height: min(100%, 448px);
    border: 1px solid #EFF0F6;
    border-radius: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.list-summary ul li{
    list-style: none;
}
.hr{
    width: 1112px;
    height: 0px;
    border: 0.5px solid #D9DBE9;
    margin-top: 10px;
    
    
}
.item-info strong{
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #4E4B66;

}
.billing-summary{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.sum{
    text-align: center;
    
}
.sum .price{
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 10px;
    text-align: center;
}
.sum .small{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    
    margin-bottom: 10px;
}
.sum-total .span2{
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4E4B66;
    font-family: 'Poppins', sans-serif;
}
.sum-total .strong{
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #4E4B66;
    margin: 10px;
}
.form{
    margin-top: 50px;
}
.Form-head{
    margin-top: 40px;
    
   font-weight: 700;
   font-style: Bold;
   font-size: 20px;

   line-height: 28px;
   letter-spacing: 0px;
   vertical-align: middle;
   color: #6E7191;

}
.child-Form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;



}

.input-field{
    width: 369.3333435058594px;
    height: 56px;
    border-radius: 16px;
    border: none;
    padding: 30px 16px 10px 36px;
    background-color: #FAFAFF;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #6E7191;

}
.form-input{
    position: relative;
}
.clear-input{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 15px;
    color: #4E4B66;
    cursor: pointer;
    display: none;

}
.input-group{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 16px;
    user-select: none;
    color: #262338;
}
.input-field:focus + .input-group,
.input-field:not(:placeholder-shown) + .input-group, 
.input-field :valid + .input-group {
    top: 20px;
    left: 10%;
    font-size: 13px;
    color: #6E7191;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
.state{
    width: 369.3333435058594px;
    height: 56px;
    border-radius: 16px;
    border: none;
    background-color: #FAFAFF;
    padding: 16px 20px 16px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #6E7191;

}
.state:hover{
   border: 2px solid #FFDBBD; 
}
.child-Form input:hover{
    border: 2px solid #FFDBBD;
}
.child-Form input::placeholder{
    margin-left: 20px;
}


.date-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  z-index: 0;
  
}
.date-input-wrapper input{
    opacity: 50%;
}

.date-input {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 1;
}

.date-placeholder {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease;
  z-index: 2;
  opacity: 100%;
}
.second-form{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1156px;
    height: 45px;
    margin-top: 40px;
}
#state{
    width: 100%;
    max-width: 761.3333740234375px;
    height: 56px;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
    background-color: #FAFAFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    letter-spacing: 0.75px;
    color: #6E7191;
}
#state:hover{
    border: 2px solid #FFDBBD;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1156px;
    margin-top: 50px;
    gap: 40px;
}
.box input{
    width: 24px;
    height: 24px;
    background-color: #FF9943;
    border-radius: 100px;
}
.box input:hover{
    background-color: #FF9943;
}
.pay-button{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
}
.pay-button button{
    width: 215px;
    height: 56px;
    border-radius: 32px;
    padding: 16px 24px 16px 24px;
    background-color: #FF9943;
    color: #FCFCFC;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.75px;
    border: none;
}



/*llll*/

.infor-container {
  position: relative;
  z-index: 1;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
}
.main-infor{
    width: 1240px;
  border-radius: 24px;
  padding-top: 80px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 56px;
  background-color: #FFFFFF;
  min-height: 100vh;

}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.header h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    color: #262338;
}
.header p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #6E7191;
}

.infor-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/cloud.png.jpg');
  background-size: cover;
  background-position: center;
  opacity: 20%; /* your desired background opacity */
  z-index: -1;
  padding-bottom: 50px;
  
}
.child-headings{
    display: flex;
    margin-top: 100px;
    gap: 40px;
}
#sub-address{
    margin-left: 0px;
}
.sub-address h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #4E4B66;
    margin-bottom: 20px;
}
.sub-address p{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #A0A3BD;
}
.sub-address img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    border: 1px dashed #4E4B66;
    padding: 16px;
    margin-bottom: 20px;
}

hr{
    width: 500px;
    margin-bottom: 20px;
    opacity: 10%;
}
.footer{
    width: 1080px;
    height: 324px;
    border-radius: 24px;
    padding: 20px;
    background-color: #FAFAFF;
    margin-top: 60px;
    position: relative;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Down-logo{
    width: 120px;
    height: 120px;
    
   
}
.footer-logo h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4E4B66;
}
.back-button{
    position: absolute;
    right: 0;
    
    top: 0;
    margin-top: 100px;
    margin-right: 30px;
}
.Arrow-back-button{
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    rotate: 90;
    background-color: #FFA65A;
    border: none;
}
.down-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
}
.link ul li{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #A0A3BD;
}
.link ul li:hover{
    
    color: #262338;
}
.icon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.icon-image img:hover{
    background-color: red;
    transition: 1s;
    cursor: pointer;
    
}
.anchor-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}
.anchor-tags a{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #A0A3BD;
}
.anchor-tags a:hover{
    color: #262338;
}
.copyright{
    text-align: center;
    margin-top: 50px;
}
.copyright h1{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #4E4B66;
}


.clear-message{
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: 5%;
    margin-top: 5%;
    cursor: pointer;
   
    
}
.custom-phone-input-container .flag-dropdown{
    background-color: transparent;
    border: none;
}
.custom-phone-input-container .flag{
    display: block;
}
.custom-phone-input-container .arrow{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    
    display: block;
}
