.smooth-card-container{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.2);  /* semi-transparent */
    backdrop-filter: blur(10px);           /* blur background */
    -webkit-backdrop-filter: blur(10px);
    height: 100vh;
    z-index: 4;
    inset: 0;
}


.smooth-form{
    width: 1240px;
    height: 472px;
    border-radius: 24px;
    padding: 40px;
    background-color: #ffffff;
}
.smooth-head{
    display: flex;

    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.smooth-head h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #4E4B66;
}
.smooth-head p{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #6E7191;
    margin-top: 10px;
}
.smooth-head img{
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px dashed #262338;
    padding: 12px;
    margin-right: 20px;
}
.smooth-form hr{
    width: 100%;
    margin: 20px 0px 20px;
}
.smooth-content-form{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}










.smooth-test{
    width: 370.6666564941406px;
    height: 56px;
    border-radius: 16px;
    padding: 30px 16px 10px 36px;
    background-color: #FAFAFF;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #6E7191;
    
}
.name input:hover{
    border: 2px solid #FFDBBD;
}
.name{
    position: relative;
    margin: 2rem 0;
}
.delet-message{
    position: absolute;
    top: 0%;
    right: 0;
    margin-right: 5%;
    margin-top: 5%;
    cursor: pointer;
   
    
}

.group{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    font-size: 16px;
    user-select: none;
    color: #262338;
}
.smooth-test:focus + .group,
.smooth-test:not(:placeholder-shown) + .group, 
.smooth-test:valid + .group {
    top: 20px;
    left: 10%;
    font-size: 13px;
    color: #6E7191;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
}
.last-input{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.select{
    width: 568px;
    height: 56px;
    border-radius: 16px;
    padding: 10px 16px 10px 16px;
    background-color: #FAFAFF;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #6E7191;
}
.my-down-submit-button{
    position: relative;
    float: right;
    margin-top: 20px;
}
.my-down-submit-button button{
    width: 143px;
    height: 56px;
    border-radius: 32px;
    padding: 16px 45px 16px 24px;
    background-color: #FF9943;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: #FCFCFC;
    border: none;
    

}
.my-down-submit-button img{
    position: absolute;
    top: 0%;
    right: 0;
    margin: 15px 20px;
}
